@use "../../App.module.scss" as vars;

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: vars.$font_family;
}

.card {
  height: auto;
  width: 40%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
  justify-content: space-between;
  background-color: vars.$card_color;
  border-radius: 20px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  width: 93%;
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    .period {
      color: vars.$secondary-color;
    }
  }
  .subtitle {
    margin-top: 0.9rem;
  }
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .input-title {
    margin-top: 1rem;
  }
  .input-container {
    .email,
    .username,
    .password {
      height: 34px;
      width: 100%;
      box-sizing: border-box;
      border: 1.5px solid black;
      border-radius: 5px;
      &:focus {
        outline: none;
        border: 2px solid vars.$secondary-color;
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    .create-account {
      width: 120px;
      height: 45px;
      border: none;
      border-radius: 10px;
      background-color: vars.$primary_color;
      font-weight: bold;
      color: white;
      transition: ease background-color 200ms;
      &:hover {
        cursor: pointer;
        background-color: vars.$secondary_color;
      }
    }
  }
}

.has-account {
  font-style: italic;
  margin-top: 2rem;
  .sign-in {
    text-decoration: underline;
    transition: ease color 200ms;
    &:hover {
      cursor: pointer;
      font-weight: bold;
      color: vars.$secondary_color;
    }
  }
}

.error {
  color: red;
  font-size: 0.7rem;
}

/* Tablets */
@media only screen and (max-width: vars.$tablet_bp) {
  .card {
    width: 60%;
    font-size: 0.9rem;
  }
  .titles {
    width: 60%;
  }
}

/* Smartphones */
@media only screen and (max-width: vars.$smartphone_bp) {
  .card {
    width: 85%;
    font-size: 0.8rem;
  }
  .titles {
    width: 90%;
  }
  .error {
    font-size: 0.6rem;
  }
}
