@use "../App.module.scss" as styles;

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: styles.$primary-color;
}

.card {
  width: 20rem;
  height: 29rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: styles.$font_family;
  font-size: 0.7rem;
  background-color: styles.$card-color;
  border-radius: 10px;
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
    font-size: 1rem;
  }
  .username,
  .password {
    width: 15rem;
    height: 28px;
    border: 1.5px solid styles.$primary-color;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
  .inputTitle {
    margin-top: 1.5rem;
    width: 15rem;
    display: flex;
    align-items: flex-start;
  }
  .rememberForgotContainer {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    .rememberMe {
      input[type="checkbox"] {
        vertical-align: middle;
        margin-left: 0;
      }
    }
    .forgot {
      font-style: italic;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
  .loginContainer {
    width: 15rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    .login {
      width: 100px;
      height: 40px;
      border: none;
      border-radius: 10px;
      background-color: styles.$primary-color;
      font-size: 0.7rem;
      font-weight: bold;
      color: white;
      transition: ease background-color 200ms;
      &:hover {
        cursor: pointer;
        background-color: styles.$secondary-color;
      }
    }
  }
  .dontHaveAccount {
    margin-top: 5rem;
    font-style: italic;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
